<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
   
      <a href="https://imgur.com/1VCo0tC"><img src="https://i.imgur.com/1VCo0tC.jpg" title="source: imgur.com" /></a>
      <th>Dog<th>Breed</th>
      <th></th>
    </tr>
 

  <br>
  <br>
  <hr>
   

   
  </thead>
  <tbody>
    <% dogs.forEach(function(d) { %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.breed %></td>
        <td><a href="/dogs/<%= d._id %>">Info</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>


  <%- include('../partials/footer') %>