<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Gooby Land</th>
      <th>Gooby<br>Breed</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% dogs.forEach(function(d) { %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.breed %></td>
        <td><a href="/dogs/<%= d._id %>">Info</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <!-- <a href='/dogs/new'> add a dog</a>
  <button type="submit" href='/dogs/new'>Add Dog</button> -->

  <%- include('../partials/footer') %>