<%- include('../partials/header') %>

<section class="show-container" >
  <div class="display-box">
    <div class="top-row">
       <h1><%= dog.name %></h1>
    </div>   
    <div class="second-row">
      <div class="col-1">
        <img src="https://i.imgur.com/1M8CWuL.jpg" title="source: imgur.com" />
      </div>
      <div class="col-2">
        <ul>
          <div>Name: </div>
          <div>Birthdate: </div>
          <div>Breed: </div>
          <div>Location: </div>
        </ul>
      </div>
     
    <div class="col-3">
      <ul>    
        <div><%= dog.name %></div>
  
        <div><%= dog.birthdate %></div>
  
        <div><%= dog.breed %></div>
  
        <div><%= dog.location %></div>
      </ul>
    </div>
  </div>      
  <br>
  <hr>
  <div class="middle-row">
    <h3>BIO </h3>
      <div><%= dog.bio %></div>
  </div>
  


  <br>
  <hr>

  <div class="fourth-row">
    <h3> FAVORITES </h3>
  </div>
  <div class="bottom-row">
    <div class="col-1">
      <ul>

        
          <div>Dog Park:</div>
          <div>Pet Store:</div>
          <div>Snack:</div>
          <div>Veterinarian:</div>
          <div>Toy:</div>
      </ul>
    </div>
    <div class="col-2">
      <ul>    
        <div></div>  
        <div><%= dog.park %></div>
  
        <div><%= dog.petStore %></div>
  
        <div><%= dog.snack %></div>
  
        <div><%= dog.veterinarian %></div>
  
        <div><%= dog.toy %></div>
      </ul>
    </div>
   </div>
  </div>
 </div>    


    </form>
 </selection>


  <a href="/dogs/<%= dog._id%>/edit">Edit Dog</a>
  

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="comments-container">
  <div class="comment-box">
  <br><br><h2>Comments</h2>
  

<% if(user) { %>
  <div class="box-1">
  <form id="add-comment-form" method="POST"
    action="/dogs/<%= dog._id %>/comments">
    <label>Comment:</label>
    <textarea name="comments"></textarea>
    <input type="submit" value="Add Comment">
  </form>
<% } %>
<% if (dog.comments.length) { %>
    <table class="box-2">
      <thead>
        <tr>
          <th>User</th>
          
          <th>Date</th>
          
          <th>Comment</th>
         
          <th></th>
        </tr>
      </thead>
      <tbody>
       
        <% dog.comments.forEach(function(c) { %>
         
          <tr>
            <td class="comment-user"> <%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.comments %></td>
            
            <td>
              <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
         
        </tr>
      </tbody>
    </table>
  </div>
  </div>
    
  <% } else { %>
    <h5>No comments Yet</h5>
  <% } %>
    

<%- include('../partials/footer') %>
